# Markdown Basics
## Markdown Basics
### Markdown Basics
#### Markdown Basics

* **Point1** (Bold)
* *Point2* (Itallic)
* ***Point3*** (Bold and Itallic)

* Normal text
 * Sublist 1
 * Sublist 2
 
 > 1. Point1
 > 2. Point2
 
 * Google site -- [1]: http://www.google.com
 * ask         -- [2]: http://www.msn.com
 
 
 - []option 1
 * Google Site -- [Google][1]
 [1]: http://www.google.com

### Python Basics
* Python version 3.7
- Functional Programming
- OOP
- Scripting Programming

In [1]:
print("HELLO GITAM")

HELLO GITAM

In [2]:
print("Hello Gitam", " ||| ",end ="  ")
print("Hyderabad",end=" ||| ")
print("Python Proramming")

Hello Gitam  |||   Hyderabad ||| Python Proramming

In [3]:
n1=100
print(n1)

100

In [4]:
n1=100 # single var. assn.
a=b=c=20 # multi var. assn.
a1,b1,c1,=111,222,333 # multi var. assn.
print(n1)
print(a,b,c)
print(a1,b1,c1)

100
20 20 20
111 222 333

In [5]:
a=5
print(a)
print(type(a))

5
<class 'int'>

In [6]:
y=100
s1="Python"
s2="y"
print(y)
print(s1)
print(s2)
print(type(y))
print(type(s1))
print(type(s2))

100
Python
y
<class 'int'>
<class 'str'>
<class 'str'>

In [11]:
y=100
s1="Python"
s2="y"
f1=5.56
print(y,s1,s2,f1)
print(type(y),type(s1),type(s2),type(f1))

100 Python y 5.56
<class 'int'> <class 'str'> <class 'str'> <class 'float'>

In [12]:
i=100
print(type(i))
s1=str(i)
print(type(s1))
f1=float(i)
print(type(f1))

<class 'int'>
<class 'str'>
<class 'float'>

In [15]:
s1="100"
print(type(s1))
a=int(s1)
print(type(a))
f=5.56
a1=int(f)
print(type(a1))
print(a1)

<class 'str'>
<class 'int'>
<class 'int'>
5

In [16]:
a=8186
print(len(str(a)))

4

In [2]:
s1=input("Enter your name")
print(s1,type(s1))

Enter your nameRohith
Rohith <class 'str'>

In [20]:
n=int(input("Enter a number"))
print(n,type(s))

Enter a number8186
8186 <class 'str'>

##Operators
* Operator is a symbols used to perform a specific 
* Arithmetic operators
- +
- -
- *
- %
- **
- //

In [3]:
n=8186
print(n+10,n-10,n*10,n/10,n%10,n**10,n//10)

8196 8176 81860 818.6 6 1351193051126296326123512121488423166976 818

## Precedence of Arth operations

*

In [4]:
x=1+2**3/4+5
print(x)

8.0

In [6]:
happybirthdaykaushik=1+2**3/4*5
print(happybirthdaykaushik)

11.0

## Relational operators

In [7]:
x=10
a=x>15
print(a)

False

## Logical operators

In [8]:
i=100
a1=(i>15)and(i<800)
a2=(i>15)and(i>800)
print(a1)
print(a2)

True
False

## Control flow statements
- conditional statements
- looping statements
## syntax
- if boolean_condition:
  statements
  else:
  statements

In [10]:
n=int(input("Enter a number"))
if n%2==0:
    print("EVEN")
else:
    print("ODD")

Enter a number12
EVEN

In [12]:
n=int(input("Enter a number"))
if n%3==0 and n%5==0:
    print("YES")
else:
    print("NO")

Enter a number30
YES

In [14]:
n=int(input("Enter a number"))
if n==0:
    print("ZERO")
elif n>0:
    print("Positive integer")
elif n<0:
    print("Negative integer")

Enter a number0
ZERO